.container{
	padding-top:50px;
	width: 500px;
	height: 300px;
}
#red{
	background-color: red;
}
#green{
	background-color: green;
}
#yellow{
	background-color: yellow;
}
#blue{
	background-color: blue;
}

.divColors{
	float:left;
}

.circle {
	border: 3px solid black;
      width: 250px;
      height: 250px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      border-radius: 150px;
      /*background: red;*/
}
#startGame{
	padding-left: 200px;
	padding-right: 200px;
}

#message{
	font-weight: bold;
	font-family: 'Baloo Bhaina', cursive;
	font-size: 40px;
}
#currentRound{
	font-family: 'Baloo Bhaina', cursive;
	font-size: 40px;
}
