#red{
	height: 100px;
	width: 100px;
	background-color: red;
}
#green{
	height: 100px;
	width: 100px;
	background-color: green;
}
#yellow{
	height: 100px;
	width: 100px;
	background-color: yellow;
}
#blue{
	height: 100px;
	width: 100px;
	background-color: blue;
}

/*.center-block {
   margin-left:auto;
   margin-right:auto;
   display:center;
}*/